@model LearnIn.ViewModel.SignUpViewModel

<div class="signup-form-container">
    <h2>Sign up</h2>
    <form method="post" asp-action="SaveSignUp" asp-controller="Account">
        
        <div class="form-group">
            <label asp-for="UserName" class="control-label"></label>
            <input asp-for="UserName" class="form-control" />
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Email" class="control-label"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Password" class="control-label"></label>
            <input asp-for="Password" class="form-control"/>
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="ConfirmPassword" class="control-label"></label>
            <input asp-for="ConfirmPassword" class="form-control"/>
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="DateOfBirth" class="control-label"></label>
            <input asp-for="DateOfBirth" class="form-control" />
            <span asp-validation-for="DateOfBirth" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="PhoneNumber" class="control-label"></label>
            <input asp-for="PhoneNumber" class="form-control" />
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Image" class="control-label"></label>
            <input asp-for="Image" class="form-control" />
            <span asp-validation-for="Image" class="text-danger"></span>
        </div>

        <label >Choose Account Type</label>
        <div class="form-group">
            <input type="radio" name="Role" value="Instructor" />
            <label>Instructor</label>
            <br />
            <input type="radio" name="Role" value="Student" checked/>
            <label>Student</label>
        </div>

        <br />
        <button type="submit" class="btn btn-primary">Sign Up</button>

        @if (!ViewData.ModelState.IsValid)
        {
            <div class="alert alert-danger" role="alert">
                <ul>
                    @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                    {
                        <li>@error.ErrorMessage</li>
                    }
                </ul>
            </div>
        }

        <div class="text-center my-3">or</div>
        <button type="button" id="btn-sign_with_social">Continue with Google</button>
        <button type="button" id="btn-sign_with_social">Continue with Facebook</button>

        <!-- Already has an account link -->
        <div class="text-center mt-3">
            <a asp-action="LogIn" asp-controller="Account">Already has an account?</a>
        </div>

    </form>
</div>


<style>
    .signup-form-container {
        max-width: 400px;
        margin: 50px auto; 
        padding: 20px;
        background-color:mintcream; 
        border-radius: 10px; 
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    }
    .signup-form-container h2 {
        text-align: center;
        margin-bottom: 20px;
        color: #333;
        font-weight:bold;
    }

    .form-group {
        margin-bottom: 15px;
    }

    .form-control {
        height: 40px;
        border-radius: 15px;
        border: 1px solid #ccc;
    }

    .btn-primary {
        width: 100%; 
        padding: 10px;
        border-radius: 15px;
        background-color: #298EE5;
        font-weight:bold;
    }

    .alert-danger {
        margin-top: 20px;
        color: #721c24;
        background-color: #f8d7da;
        border-color: #f5c6cb;
    }

    #btn-sign_with_social{
        width:100%;
        border-radius:15px;
        height:50px;
        margin-top:10px;
        font-weight:bold;
    }

    #btn-sign_with_social:hover{
        background-color:lightblue;
    }
</style>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}