<!-- Views/ContactUs/Index.cshtml -->
@model LearnIn.Models.ContactUs

@{
    ViewData["Title"] = "Contact Us";
}

<h2>Contact Us</h2>

@if (ViewBag.SuccessMessage != null)
{
    <div class="alert alert-success">@ViewBag.SuccessMessage</div>
}

<form asp-action="Contact" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="UserName" class="control-label"></label>
        <input asp-for="UserName" class="form-control" />
        <span asp-validation-for="UserName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Email" class="control-label"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Message" class="control-label"></label>
        <textarea asp-for="Message" class="form-control" rows="5"></textarea>
        <span asp-validation-for="Message" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-outline-primary" style="margin-left:80%">
        <a asp-action="UserProfile" class="btn-send">Send Message</a>
    </button>
</form>

<style>
    h2 {
        color: #298EE5;
        font-weight: bold;
    }

    .form-group {
        padding: 10px;
    }

        .form-group label {
            font-weight: bold;
            margin-bottom: 5px;
        }

        .form-group input {
            width: 91%;
        }

        .form-group textarea{
            width: 91%;
        }

    .btn-send {
        font-weight: bold;
    }

        .btn-send:hover {
            color: white;
        }
</style>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

